
# "Practice for 'for Loop'

In [1]:
#  "Create a for loop to print all even numbers between 1 and 20."

for even_num in range(1,20,2): #range(stop) #range(start,stop) #range(start,stop,step)
  print(even_num)

1
3
5
7
9
11
13
15
17
19

In [2]:
#Print the square of numbers from 1 to 10.

for num in range(1, 11):
 square = num ** 2            
 print("Square of", num, "is:", square)

Square of 1 is: 1
Square of 2 is: 4
Square of 3 is: 9
Square of 4 is: 16
Square of 5 is: 25
Square of 6 is: 36
Square of 7 is: 49
Square of 8 is: 64
Square of 9 is: 81
Square of 10 is: 100

In [3]:
#"Print the factorial of numbers from 1 to 5."

#factorial n!=n×(n−1)×(n−2)×…×2×1

for num in range(1,6):
    factorial = 1
    for i in range(1,num+1):
        factorial *= i
        # use f-string in ptrint statement 
    print(f" the factorial of {num} is {factorial}")

 the factorial of 1 is 1
 the factorial of 2 is 2
 the factorial of 3 is 6
 the factorial of 4 is 24
 the factorial of 5 is 120

In [15]:
#print the factorial of number 4

factorial = 1
for i in range(1,5):
    factorial *= i
        # use f-string in ptrint statement 
print(f" the factorial of {num} is {factorial}")

 the factorial of 4 is 24

In [28]:
#Print all the numbers between 1 and 10 in reverse order

for num in range(10,1,-1):
  print(num)

10
9
8
7
6
5
4
3
2

In [70]:
#Find the sum of all odd numbers between 1 and 20.

#step 1

for num in range(1,21):
    if num % 2 !=0:
        print(num)

1
3
5
7
9
11
13
15
17
19

In [78]:
# step 2

sum_odd = 0

for num in range(1,21):
    if num % 2 !=0:
        sum_odd += num

print(f"sum of the all odd number between 1 to 20 is :{sum_odd}")

sum of the odd number between 1 to 20 is :100

In [87]:
# Print the multiplication table of a number(5)

num =5

for i in range(1,11):
    print(f"{num } X {i}  = {num*i}")

5 X 1  = 5
5 X 2  = 10
5 X 3  = 15
5 X 4  = 20
5 X 5  = 25
5 X 6  = 30
5 X 7  = 35
5 X 8  = 40
5 X 9  = 45
5 X 10  = 50

In [97]:
# "Write a Python program to calculate the sum of all numbers from 1 to 100."

sum_all = 0

for i in range(1,100):
 sum_all += i

print(f"Sum all number from 1 to 100 is {sum_all}")

Sum all number from 1 to 100 is 4950

In [69]:
numbers = [1, -2, 3, -4, 5, 6, -7, -8, 9, 10, 12]

x = 1

for number in numbers:
    if number > 0:
        x 
print(number)

12

In [83]:
numbers = [1, 1, 1, 1, 1]

x = 0

for number in numbers:
    if number > 0:
        x += number
print(x)  # Yeh loop ke har iteration ka `x` ka naya value print karega

5

In [84]:
numbers = [121, 131, 202, 345, 454, 567, 676, 789, 898]

for number in numbers:
    if 201 < number < 203:
        print(number)

202

# Reverse & Reversed Lopp

In [90]:
name = [1, 2, 3, 4]

reversed_name = name[::-1]

print(reversed_name)

[4, 3, 2, 1]

In [100]:
numbers = [121, 131, 202, 345, 454, 567, 676, 789, 898]

for number in numbers:
    if str(number) == str(number)[::-1]:
     print(number)

121
131
202
454
676
898

# Run for loop on list

In [102]:
numbers = [10, 20, 4, 45, 99, 50, 67, 99]

for number in numbers:
   print(number)

10
20
4
45
99
50
67
99

In [112]:
numbers = [10, 20, 4, 45, 99, 50, 67, 99]

reverse_number = numbers[::-1]
print(reverse_number)

[99, 67, 50, 99, 45, 4, 20, 10]

# Max number in list

In [117]:
numbers = [10, 20, 4, 45, 99, 50, 67, 99]

max_number = float('-inf')
for number in numbers:
    if number > max_number:
        max_number = number
print(max_number)

99

# Sum of number in list

In [119]:
numbers = [10, 20, 4, 45, 99, 50, 67, 99]

sumofall = 0
for number in numbers:
    sumofall += number
print(sumofall)

394

# Min number in list

In [125]:
numbers = [10, 20, 4, 45, 99, 50, 67, 99]

min_number = float('inf')
for number in numbers:
    if number < min_number:
        min_number = number
print(min_number)

4

# second largest number

In [142]:
numbers = [10, 20, 4, 45, 99, 50, 67,88, 88, 45,89, 99]

largest_num = float('-inf')
second_largest = float('-inf')
for number in numbers:
    if number > largest_num:
        second_largest = largest_num
        largest_num = number
    elif number > second_largest and number != largest_num:
        second_largest = number

print(largest_num)
print(second_largest)

99
89